* {
    padding: 0;
    margin: 0;
}

h3.infoTitle {
    text-align: center;
}

#title {
    text-align: center;
    border: 2px solid rgb(17, 17, 17);
    border-radius: 0px 0px 15px 15px;;
    padding: 2px;
    background-color: rgb(74, 233, 225);
}

#footer {
    text-align: center;
}

.col-4.graphSelector.left{
    border: 2px solid rgb(17, 17, 17);
    border-radius: 0px 0px 15px 0px;
    padding: 5px;
    background-color: rgb(185, 185, 185);
}

.col-4.graphSelector.right{
    border: 2px solid rgb(17, 17, 17);
    border-radius: 0px 0px 0px 15px;
    padding: 5px;
    background-color: rgb(185, 185, 185);
}

.visTitle {
    border: 2px solid rgb(17, 17, 17);
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    background-color: rgb(78, 78, 78);
}

.col-6 {
    border: 2px solid rgb(17, 17, 17);
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    background-color: rgb(136, 192, 218);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    position: relative;
    /*margin-top: -10px;  negative value of footer height */
    /*height: 150px;*/
    clear:both;
    padding-top:20px;
  } 

